<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>GANA YA</title>
    <meta name="description" content="Rifas Martinez YZ 450">
    <meta name="author" content="120RACING">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   <style>
    body {
      background: linear-gradient(to right, #ffffff, #ff1ed6, #d23bf4);

     /* background: linear-gradient(to right, #ffffff); */
      color: black;
    }

    .form-container {
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      margin-top: 50px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  </style>
</head>

<body>
  
    <h5> 2 BOLETAS - MOTO YZ 450 </h5>    
    <br>
  <label>
      <p class="text-uppercase">Comprar 2 Boletas</p>
      <h1>$100.000</h1>
    </label>
  
</body>

</html>


