<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Add jQuery (make sure to include it before your custom script) -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>

<div class="col-12 mt-4 col-lg-12">
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title azul text-blue text-uppercase"> 2 BOLETAS - MOTO YZ 450 </h5>
      <hr>
      <br>
      <label>
        <p class="text-uppercase">Comprar 2 Boletas</p>
        <h1>$100.000</h1>
      </label>

      <!-- Display the numbers when loading -->
      {% if numeros %}
        <div class="text-center">
          <h2>NUMEROS BOLETA</h2>
          {% for numero in numeros %}
            <div class="text-center">
              <h1 style="text-align:center; color: #4967ff; font-size: 150px">{{ numero }}</h1>
            </div>
          {% endfor %}
        </div>
      {% endif %}

    </div>
  </div>
</div>

</body>
</html>
